<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>

        <!--Matriz
           
        <ul>
           <li v-for="day in working">{{ day }}</li>
        </ul>

        -->

        <!--Matriz de objetos (collection)

        <ul>
           <li v-for="(task, index) in tasks">{{index}}-{{task.name}} <small>{{task.priority}}</small></li>
        </ul>

        -->

        <!--Objetos

        <ul>
           <li v-for="(value,key, index) in person">{{index}}-{{ key }}:{{ value }}</li>
        </ul>

        -->

       <pre>{{ $data }}</pre>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>
</html>